.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 5rem;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 500px;
    height: 500px;
    text-align: justify;
}

.me {
    font-size: 6.25rem;
    font-weight: bold;
}

.title {
    font-size: 3.74rem;
    margin-top: -7.48rem;
    font-style: italic;
}

.link {
    text-decoration: none;
}

.about-me-container {
    display: flex;
    align-items: center;
    margin-top: -7.48rem;
    width: fit-content;
}

.about-me-button {
    font-size: 3.74rem;
    padding: 1.99rem;
    border: none;
    background: #F85F36;
    color: #ffffff;
    font-weight: bold;
    font-family: 'helvetica';
}

.right-arrow {
    background: url(/arrow-right.svg) left top no-repeat;
    background-size: contain;
    width: 74.8px;
    height: 74.8px;
    background-color: transparent;
    border: none;
}

.scroll {
    color: transparent;
}

.scroll-down-arrow {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1536px) {
    .avatar {
        height: 400px;
        width: 400px;
    }

    .information {
        width: 400px;
        height: 400px;
    }

    .me {
        font-size: 5rem;
    }

    .title {
        font-size: 2.99rem;
        margin-top: -5.98rem;
    }

    .about-me-container {
        margin-top: -5.98rem;
    }

    .about-me-button {
        font-size: 2.99rem;
        padding: 1.59rem;
    }

    .right-arrow {
        height: 59.8px;
        width: 59.8px;
    }
}

@media screen and (max-width: 1024px) {
    .avatar {
        height: 350px;
        width: 350px;
    }

    .information {
        width: 350px;
        height: 350px;
    }

    .me {
        font-size: 4.38rem;
    }

    .title {
        font-size: 2.62rem;
        margin-top: -5.24rem;
    }

    .about-me-container {
        margin-top: -5.24rem;
    }

    .about-me-button {
        font-size: 2.62rem;
        padding: 1.4rem;
    }

    .right-arrow {
        height: 52.4px;
        width: 52.4px;
    }
}

@media screen and (max-width: 768px) {
    .avatar {
        height: 300px;
        width: 300px;
    }

    .information {
        width: 300px;
        height: 300px;
    }

    .me {
        font-size: 3.75rem;
    }

    .title {
        font-size: 2.25rem;
    }

    .about-me-button {
        font-size: 2.25rem;
        padding: 1.2rem;
    }

    .right-arrow {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width: 630px) {
    .avatar {
        height: 200px;
        width: 200px;
    }

    .information {
        width: 200px;
        height: 200px;
    }

    .me {
        font-size: 2.5rem;
    }

    .title {
        font-size: 1.5rem;
        margin-top: -3rem;
    }

    .about-me-container {
        margin-top: -3rem;
    }

    .about-me-button {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    .right-arrow {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        height: auto;
        justify-content: flex-start;
    }

    .avatar {
        height: 150px;
        width: 150px;
    }

    .information {
        height: 150px;
        width: 150px;

    }

    .me {
        font-size: 1.88rem;
    }

    .title {
        font-size: 1.13rem;
        margin-top: -2.26rem;
    }

    .about-me-container {
        margin-top: -2.26rem;
    }

    .about-me-button {
        font-size: 1.13rem;
        padding: 0.603rem;
    }

    .right-arrow {
        height: 22.6px;
        width: 22.6px;
    }

    .scroll-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.26rem;
    }

    .scroll {
        color: #000000;
        font-size: 1.88rem;
    }

    .scroll-down-arrow {
        margin-top: 3rem;
        background: url(/arrow-down.svg) left top no-repeat;
        background-size: contain;
        width: 22.6px;
        height: 22.6px;
        background-color: transparent;
        border: none;
    }

    .bounce {
        animation: bounce 2s infinite;
    }

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(-15px);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
}

@media screen and (max-width: 320px) {
    .avatar {
        height: 100px;
        width: 100px;
    }

    .information {
        height: 100px;
        width: 100px;
    }

    .me {
        font-size: 1.25rem;
    }

    .title {
        font-size: 0.749rem;
        margin-top: -1.5rem;
    }

    .about-me-container {
        margin-top: -1.5rem;
    }

    .about-me-button {
        font-size: 0.749rem;
        padding: 0.4rem;
    }

    .right-arrow {
        height: 15px;
        width: 15px;
    }

    .scroll-container {
        margin-top: 1.5rem;
    }

    .scroll {
        color: #000000;
        font-size: 1.25rem;
    }

    .scroll-down-arrow {
        width: 15px;
        height: 15px;
    }
}
