.sidebar {
    display: none;
}

@media screen and (max-width: 480px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: #3CC157;
        position: fixed;
        top: 0;
    }

    .navbar-ul {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        /* font-size: 1.13rem; */
        list-style: none;
        margin-top: 1.5rem;
        padding: 0;
    }

    .nav-item {
        line-height: 3rem;
        color: white;
    }

    .nav-item:hover {
        color: #F85F36;
        font-weight: bold;
    }

    .projects-link {
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 320px) {
    .close-button {
        /* width: 15px;
        height: 15px; */
    }

    .navbar-ul {
        font-size: 1.13rem;
        /* font-size: 0.749rem; */
    }
}
