.main-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    height: 50px;
}

.hamburger {
    display: none;
}

/* 2rem = 20px as my html is set to 10px */
.navbar-ul {
    display: flex;
    list-style: none;
    font-size: 2.49rem;
    justify-content: flex-end;
}

/* 1.5em = 30px as parent element (navbar-ul) is set to 20px */
.nav-item {
    margin-right: 1.5em;
}

.nav-item:hover {
    color: #F85F36;
    font-weight: bold;
}

.projects-link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1536px) {
    .navbar-ul {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-ul {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar-ul {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
    .navbar-ul {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }

    .hamburger {
        display: flex;
        position: fixed;
        top: 0;
        background: url(/hamburger-icon.svg) left top no-repeat;
        background-size: contain;
        width: 22.6px;
        height: 22.6px;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
    }

    .close-button {
        display: flex;
        position: fixed;
        top: 0;
        background: url(/close-button-dark.svg) left top no-repeat;
        background-size: contain;
        width: 22.6px;
        height: 22.6px;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 320px) {
    .hamburger {
        height: 15px;
        width: 15px;
    }

    .close-button {
        height: 15px;
        width: 15px;
    }
}