.main-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-container-open {
    display: none;
}

.hamburger-container-close {
    display: none;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    /* height: 50px; */
}

.name {
    margin-left: 1.5rem;
    font-size: 2.49rem;
}

/* .hamburger {
    display: none;
} */

/* 2rem = 20px as my html is set to 10px */
.navbar-ul {
    display: flex;
    list-style: none;
    font-size: 2.49rem;
    justify-content: flex-end;
}

/* 1.5em = 30px as parent element (navbar-ul) is set to 20px */
.nav-item {
    margin-right: 1.5em;
}

.nav-item:hover {
    color: #F85F36;
    font-weight: bold;
}

.projects-link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1536px) {
    .navbar-ul {
        font-size: 2rem;
    }

    .name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-ul {
        font-size: 1.75rem;
    }

    .name {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar-ul {
        font-size: 1.5rem;
    }

    .name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
    .navbar-ul {
        font-size: 1.2rem;
    }

    .name {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }

    .hamburger-container-close {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color:white;
        top: 0;
    }

    .hamburger-container-open {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color:white;
        top: 0;
    }

    .name {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.79rem;
    }

    .name-close {
        display: none;
    }

    .hamburger {
        display: flex;
        /* position: fixed; */
        background: url(/hamburger-icon.svg) left top no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        /* width: 22.6px;
        height: 22.6px; */
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: transparent;
        border: none;
    }

    .close-button {
        display: flex;
        position: fixed;
        top: 0;
        background: url(/close-button-dark.svg) left top no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        /* width: 22.6px;
        height: 22.6px; */
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 320px) {
    .hamburger {
        width: 22.6px;
        height: 22.6px;
        /* height: 15px;
        width: 15px; */
    }

    .name {
        font-size: 1.13rem;
    }

    .close-button {
        width: 22.6px;
        height: 22.6px;
        /* height: 15px;
        width: 15px; */
    }
}
