.main-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger {
    display: none;
}

/* 2rem = 20px as my html is set to 10px */
.navbar-ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 2rem;
}

/* 1.5em = 30px as parent element (navbar-ul) is set to 20px */
.nav-item {
    margin-right: 1.5em;
}

.nav-item:hover {
    color: #F85F36;
    font-weight: bold;
}

.projects-link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1536px) {
    .navbar-ul {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar-ul {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar-ul {
        display: none;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 0; 
        background: url(/hamburger-icon.svg) left top no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
    }

    .close-button {
        display: flex;
        position: absolute;
        top: 0; 
        background: url(/close-button-black.svg) left top no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 320px) {
    .navbar-ul {
        font-size: 0.5rem;
    }

    .hamburger {
        height: 15px;
        width: 15px;
    }
}