.body-and-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.project-header {
    width: 100%;
    height: auto;
}

.title-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    padding: 1.2rem;
}

.title {
    font-size: 4.16rem;
    text-align: center;
}

.collaborators {
    margin-top: 2rem;
    font-size: 2.08rem;
    text-align: center;
}

.description-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 2rem;
    font-size: 2.49rem;
    text-align: center;
}

.sub-description-container {
    display: flex;
    flex-direction: column;
}

.sub-description-details {
    margin-top: 2rem;
}

.project-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 50%;
}

.project {
    font-size: 4.16rem;
}

.summary {
    margin-top: 2rem;
    text-align: justify;
    line-height: 4rem;
    font-size: 2.49rem;
}

.website-container {
    display: flex;
    margin-top: 5rem;
    align-items: center;
}

.website-button {
    font-size: 2.49rem;
    border: 2px solid black;
    background: transparent;
    padding: 1.99rem;
    font-family: "futura";
}

.right-arrow {
    background: url(/arrow-right.svg) left top no-repeat;
    background-size: contain;
    width: 74.8px;
    height: 74.8px;
    background-color: transparent;
    border: none;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 1536px) {
    .title {
        font-size: 3.34rem;
    }

    .collaborators {
        font-size: 1.67rem;
        margin-top: 1.5rem;
    }

    .description-container {
        font-size: 2rem;
    }

    .project {
        font-size: 3.34rem;
    }

    .summary {
        font-size: 2rem;
        line-height: 3rem;
    }

    .website-button {
        font-size: 2rem;
        padding: 1.59rem;
    }

    .right-arrow {
        height: 59.8px;
        width: 59.8px;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 2.92rem;
    }

    .collaborators {
        font-size: 1.46rem;
    }

    .description-container {
        width: 60%;
    }

    .description-container {
        font-size: 1.75rem;
    }

    .project-summary {
        width: 60%;
    }

    .project {
        font-size: 2.92rem;
    }

    .summary {
        font-size: 1.75rem;
    }

    .website-button {
        font-size: 1.75rem;
        padding: 1.4rem;
    }

    .right-arrow {
        height: 52.4px;
        width: 52.4px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.51rem;
    }

    .collaborators {
        font-size: 1.25rem;
    }

    .description-container {
        font-size: 1.5rem;
        width: 70%;
    }

    .project-summary {
        width: 70%;
    }

    .project {
        font-size: 2.51rem;
    }

    .summary {
        font-size: 1.5rem;
    }

    .website-button {
        font-size: 2.25rem;
        padding: 1rem;
    }

    .right-arrow {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width: 630px) {
    .title {
        font-size: 1.67rem;
    }

    .collaborators {
        font-size: 0.833rem;
    }

    .description-container {
        font-size: 1rem;
    }

    .sub-description-details {
        margin-top: 1rem;
    }

    .project {
        font-size: 1.67rem;
    }

    .summary {
        font-size: 1rem;
    }

    .website-button {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .right-arrow {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 480px) {
    .project-header {
        margin-top: 3rem;
    }

    .title {
        font-size: 1.88rem;
    }

    .title-and-description {
        padding: 1rem;
    }

    .collaborators {
        font-size: 0.942rem;
        margin-top: 1rem;
    }

    .description-container {
        width: 100%;
    }

    .description-container {
        font-size: 1.13rem;
    }

    .project-summary {
        margin-top: 3rem;
    }

    .project {
        font-size: 1.88rem;
    }

    .summary {
        font-size: 1.13rem;
        line-height: 2rem;
        margin-top: 1rem;
    }

    .website-container {
        margin-top: 3rem;
    }

    .website-button {
        font-size: 1.13rem;
        padding: 0.603rem;
    }

    .right-arrow {
        height: 22.6px;
        width: 22.6px;
    }
}

@media screen and (max-width: 320px) {
    .title {
        font-size: 1.25rem;
    }

    .collaborators {
        font-size: 0.624rem;
    }

    .description-container {
        font-size: 0.749rem;
    }

    .project {
        font-size: 1.25rem;
    }

    .summary {
        font-size: 0.749rem;
        line-height: 1.5rem;
    }

    .website-button {
        font-size: 0.749rem;
        padding: 0.4rem;
    }

    .right-arrow {
        height: 15px;
        width: 15px;
    }
}