.projects-card {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.project-title {
    margin-top: 3rem;
    font-size: 3.74rem;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

.project-description {
    margin-top: 2rem;
    font-size: 2.49rem;
    display: flex;
    align-self: flex-start;
}

@media screen and (max-width: 1536px) {
    .project-title {
        font-size: 2.99rem;
    }

    .project-description {
        margin-top: 1.5rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .project-title {
        font-size: 2.62rem;
    }

    .project-description {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .project-title {
        font-size: 2.25rem;
    }

    .project-description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
    .project-title {
        font-size: 1.79rem;
    }

    .project-description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .project-title {
        /* font-size: 1.13rem; */
    }

    .project-description {
        margin-top: 1rem;
        /* font-size: 0.942rem; */
    }
}

@media screen and (max-width: 320px) {
    .project-title {
        font-size: 1.13rem;
        /* font-size: 0.749rem; */
    }

    .project-description {
        font-size: 0.942rem;
        /* font-size: 0.624rem; */
    }
}
