.fade-in-section {
    opacity: 0;
    transform: translateY(200vh);
    visibility: hidden;
    transition: 3s;
    transition-timing-function: ease-out;
  }
  .fade-in-section-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }