:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

@font-face {
    font-family: 'helvetica';
    src: url('helvetica.ttf') format('truetype');
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'helvetica';
}
