.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    width: 100%;
    height: 20%;
    
}

.title-and-description {
    margin: 5rem;
}

.title {
    font-size: 4.16rem;
    text-align: center;
}

.collaborators {
    margin-top: 2rem;
    font-size: 2.08rem;
    text-align: center;
}

.description-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
    font-size: 2.49rem;
    text-align: center;
}

.sub-description-container {
    display: flex;
    flex-direction: column;
    width: 169.2px;
}

.sub-description-details {
    margin-top: 2rem;
}

@media screen and (max-width: 1536px) {
    .title {
        font-size: 3.34rem;
    }

    .collaborators {
        font-size: 1.67rem;
        margin-top: 1.5rem;
    }

    .sub-description-container {
        width: 135.9px;
    }

    .description-container {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 2.92rem;
    }

    .collaborators {
        font-size: 1.46rem;
    }

    .sub-description-container {
        width: 118.9px;
    }

    .description-container {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.51rem;
    }

    .collaborators {
        font-size: 1.25rem;
    }

    .sub-description-container {
        width: 101.9px;
    }

    .description-container {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
    .title {
        font-size: 1.67rem;
    }

    .collaborators {
        font-size: 0.833rem;
    }

    .sub-description-container {
        width: 68px;
    }

    .description-container {
        font-size: 1rem;
    }

    .sub-description-details {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .project-header {
        margin-top: 5rem;
    }

    .title {
        font-size: 1.88rem;
    }

    .title-and-description {
        padding: 1rem;
        margin-top: 3rem;
    }

    .collaborators {
        font-size: 0.942rem;
        margin-top: 1rem;
    }

    .sub-description-container {
        width: 76.8px;
    }

    .description-container {
        font-size: 1.13rem;
    }
}

@media screen and (max-width: 320px) {
    .title {
        font-size: 1.25rem;
    }

    .collaborators {
        font-size: 0.624rem;
    }

    .sub-description-container {
        width: 50.9px;
    }

    .description-container {
        font-size: 0.749rem;
    }
}
