.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    background-size: contain;
    position: absolute;
    top: 0;
}

.parent-container {
    display: flex;
    width: 70%;
    height: auto;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.child-container {
    display: flex;
    flex-direction: column;
    padding: 7rem;
    height: auto;
    width: 100%;
}

.container-light {
    background-color: #ffffff;
    color: #396FED;
}

.container-dark {
    background: #396FED;
    color: #ffffff;
}

.title {
    font-size: 4.16rem;
    font-weight: bold;
}

.description {
    margin-top: -2rem;
    font-size: 2.08rem;
}

.about-me-content {
    text-align: justify;
    font-size: 2.49rem;
    line-height: 1.5;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #396FED;
}

.container-dark-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-light-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button-dark {
    background: url(/close-button-dark.svg) left top no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.close-button-light {
    background: transparent;
    border: none;
}

.line-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
    color: #ffffff;
    font-size: 2.49rem;
    font-family: 'futura';
}

.line-input:hover {
    border-bottom: 2px solid #ffffff;
}

.form {
    font-size: 2.49rem;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    width: fit-content;
    margin-top: 2em;
    font-size: 2.49rem;
    padding: 0.8em;
    border: none;
    background: #ffffff;
    color: #396FED;
    font-weight: bold;
    border: 1px solid white;
}

.success-message {
    font-size: 2.49rem;
    margin-top: 1rem;
    align-self: center;
}

@media screen and (max-width: 1536px) {
    .child-container {
        padding: 5rem;
    }

    .title {
        font-size: 3.34rem;
    }

    .description {
        font-size: 1.67rem;
    }

    .about-me-content {
        font-size: 2rem;
    }

    .close-button-light {
        height: 59.8px;
        width: 59.8px;
    }

    .line-input {
        font-size: 2rem;
    }

    .form {
        font-size: 2rem;
    }

    .submit-button {
        font-size: 2rem;
    }

    .success-message {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .parent-container {
        width: 85%;
    }

    .title {
        font-size: 2.92rem;
    }

    .description {
        font-size: 1.46rem;
    }

    .about-me-content {
        font-size: 1.75rem;
    }

    .close-button-light {
        height: 52.4px;
        width: 52.4px;
    }

    .line-input {
        font-size: 1.75rem;
    }

    .form {
        font-size: 1.75rem;
    }

    .submit-button {
        font-size: 1.75rem;
    }

    .success-message {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        background-color: #ffffff;
    }

    .parent-container {
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .child-container {
        width: 90%;
        padding: 4rem;

    }

    .close-button-dark {
        background: transparent;
        border: none;
    }

    .close-button-light {
        background: url(/close-button-light.svg) left top no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
    }

    .title {
        font-size: 2.51rem;
    }

    .description {
        font-size: 1.25rem;
    }

    .about-me-content {
        font-size: 1.5rem;
    }

    .close-button-light {
        height: 45px;
        width: 45px;
    }

    .line-input {
        font-size: 1.5rem;
    }

    .form {
        font-size: 1.5rem;
    }

    .submit-button {
        font-size: 1.5rem;
    }

    .success-message {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 630px) {
    .title {
        font-size: 1.67rem;
    }

    .description {
        font-size: 0.833rem;
        margin-top: -1rem;
    }

    .about-me-content {
        font-size: 1rem;
    }

    .close-button-light {
        height: 30px;
        width: 30px;
    }

    .line-input {
        font-size: 1rem;
    }

    .form {
        font-size: 1rem;
    }

    .submit-button {
        font-size: 1rem;
    }

    .success-message {
        font-size: 1rem;
    }
}



@media screen and (max-width: 480px) {
    .main-container {
        background-color: #396FED;
    }

    .child-container {
        padding: 3rem;
    }

    .title {
        font-size: 1.88rem;
    }

    .description {
        font-size: 0.942rem;

    }

    .about-me-content {
        font-size: 1.13rem;
    }

    .close-button-light {
        height: 22.6px;
        width: 22.6px;
    }

    .line-input {
        font-size: 1.13rem;
    }

    .form {
        font-size: 1.13rem;
    }

    .submit-button {
        font-size: 1.13rem;
    }

    .success-message {
        font-size: 1.13rem;
    }
}

@media screen and (max-width: 320px) {
    .title {
        font-size: 1.25rem;
    }

    .description {
        font-size: 0.624rem;
    }

    .about-me-content {
        font-size: 0.749rem;
    }

    .close-button-light {
        height: 15px;
        width: 15px;
    }

    .line-input {
        font-size: 0.749rem;
    }

    .form {
        font-size: 0.749rem;
    }

    .submit-button {
        font-size: 0.749rem;
    }

    .success-message {
        font-size: 0.749rem;
    }
}
