.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.parent-container {
    display: flex;
    width: 70%;
    height: auto;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.child-container {
    display: flex;
    flex-direction: column;
    padding: 7rem;
    height: 100%;
    width: 100%;

}

.container-light {
    background-color: #ffffff;
    color: #396FED;
}

.container-dark {
    background: #396FED;
    color: #ffffff;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.description {
    margin-top: -2rem;
    font-size: 2.5rem;
}

.about-me-content {
    text-align: justify;
    font-size: 3rem;
    line-height: 1.5;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #396FED;
}

.container-dark-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-light-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button-dark {
    background: url(/close-button-dark.svg) left top no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
}

.close-button-light {
    background: transparent;
    border: none;
}

.line-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
    color: #ffffff;
    font-size: 3rem;
}

.line-input:hover {
    border-bottom: 2px solid #ffffff;
}

.form {
    font-size: 3rem;
}

.line-input-message {
    height: 8rem;
}

.submit-button {
    width: fit-content;
    margin-top: 2em;
    font-size: 3rem;
    padding: 0.8em;
    border: none;
    background: #ffffff;
    color: #396FED;
    font-weight: bold;
    border: 1px solid white;
}

@media screen and (max-width: 1440px) {
    .child-container {
        padding: 5rem;
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .about-me-content {
        font-size: 1.5rem;
    }

    .close-button-dark {
        height: 40px;
        width: 40px;
    }

    .line-input {
        font-size: 1.5rem;
    }

    .form {
        font-size: 1.5rem;
    }

    .submit-button {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .parent-container {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        overflow: auto;
    }

    .parent-container {
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        height: 100%;
        width: 100%;
    }

    .child-container {
        width: 90%;
    }

    .close-button-dark {
        background: transparent;
        border: none;
    }

    .close-button-light {
        background: url(/close-button-light.svg) left top no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
    }
}