.video {
  border: 2px solid black;
  border-radius: 40px;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .video {
    border-radius: 30px;
  }
}

@media screen and (max-width: 480px) {
  .video {
    margin-top: 1rem;
    border-radius: 20px;
    border: 1px solid black;
  }
}