.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}