.projects-card {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.project-title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

.project-description {
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-self: flex-start;
}

@media screen and (max-width: 1536px) {
    .project-title {
        font-size: 2rem;
    }

    .project-description {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .project-title {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .project-title {
        font-size: 1.5rem;
    }

    .project-description {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .project-title {
        font-size: 1rem;
    }

    .project-description {
        font-size: 0.5rem;
    }
}
