.main-container {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-1-open {
    display: none;
}

.test-1-closed {
    position: fixed;
}